
<ul>
  {{#each tokenController in model itemController="token"}}
  <li>

    {{#if tokenController.isEditing}}
      {{input value=tokenController.model.name}} - {{input type="number" value=tokenController.model.pledge}}
      <button {{action 'save'}}>Save</button>
    {{else}}
      {{tokenController.model.name}} - {{tokenController.model.pledge}}
      <button {{action 'edit'}}>Edit</button>
      <button {{action 'delete'}}>Delete</button>
    {{/if}}

  </li>

{{else}}
  <p> Hey! Welcome to Token Pledge. A simple place that gives you an opportunity to make giving to helpful causes a part of your everyday life.</p>
  <p> How it works? Sure. Take eating out for example. For many of us, restaurants and coffee shops and bars are places we frequent.</p>
  <p> So Token Pledge comes along with you and asks you to commit a small financial amount after frequenting that place. Take Starbucks. </p>
  <p> You set how many tokens or times you would like to visit Starbucks. When you arrive, you click on token for that visit. After reaching the  </p>
  <p> set amount of tokens, you are offered a chance to pledge. Token Pledge will recommend a negligible donation based on your Starbucks visits. All  </p>
  <p> you do is select where your donation goes. Simple as that.Take the challenge and see how much we can do to make a difference!</p>

  {{/each}}
</ul>

<h5> Token Count: {{model.length}}</h5>

{{link-to 'New' 'new'}}

{{outlet}}
