<!-- <div class="cards">


  <div class="card">
    <div class="card-image">
      <img src="https://pbs.twimg.com/profile_images/479715387844481025/JVeNv-tq.png" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div> -->

  <a {{action "openModal"}} class="menu-name" href="javascript:void(0)">Create a Pledge</a>


<section class="content cards container">

  {{#each tokenController in model itemController="token" }}

    {{#if tokenController.isEditing}}

    <div class="image card">
    <div class="card-image">
      <div class="ribbon">
    <div {{action 'useToken'}}>  <img class="logo"{{bind-attr src=tokenController.model.image}} alt="Logo"></div>
  </div>
  </div>
    <div class="card-header edit input" >
      {{input value=tokenController.model.name}}  {{input type="number" value=tokenController.model.pledge}}
    </div>


  <div class="card-copy">

    <button class="btn" {{action 'saveedit'}}>Save</button>


  </div>
    </div>

    {{else}}
    <div class="image card">

      <div class="card-image ribbon-box">
        {{#if tokenController.model.fund}}
          <div class="ribbon-wrapper">

            <div class="ribbon">${{tokenController.model.fund}}</div>
          </div>
          {{/if}}
        <div class="ribbon">
        <div {{action 'useToken'}}>  <img class="logo"{{bind-attr src=tokenController.model.image}} alt="Logo"></div>
        </div>
      </div>

      <div class="card-header">
        {{link-to tokenController.model.name 'show' tokenController.model}}
      </div>

      <div class="card-copy">

       <div class="stats">
          <ul>
            <li>{{tokenController.model.pledge}}</li>
          </ul>
        </div>

<!--
        <p> 10 Tokens by April 15, 2015 </p>
        <div class="progress-bar-indication">
            <span class="meter" style="width: 60%">
                <p></p>
            </span>
        </div> -->

      <button class="btn" {{action 'edit'}}>Edit</button>
      <button class="btn" {{action 'delete'}}>Delete</button>
      </div>

    </div>
    {{/if}}



{{else}}
  <div class="image card">
  <div class="card-image">
  <div class="text">
    <p> Hey! Welcome to Token Pledge. A simple place that gives you an opportunity to make giving to helpful causes a part of your everyday life.</p>
    <p> How it works? Sure. Take eating out for example. For many of us, restaurants and coffee shops and bars are places we frequent.</p>
    <p> So Token Pledge comes along with you and asks you to commit a small financial amount after frequenting that place. Take Starbucks. </p>
    <p> You set how many tokens or times you would like to visit Starbucks. When you arrive, you click on token for that visit. After reaching the  </p>
    <p> set amount of tokens, you are offered a chance to pledge. Token Pledge will recommend a negligible donation based on your Starbucks visits. All  </p>
    <p> you do is select where your donation goes. Simple as that.Take the challenge and see how much we can do to make a difference!</p>
  </div>
  </div>
  </div>
  {{/each}}



  {{#vt-modal enabled=false title="Create a Pledge" id="modal-about"}}
  <div class="searchbarframe">
    <form class="search-bar" role="search" {{action 'searchPledge' on="submit"}}>

      {{input type="search" placeholder="Enter Search" value=pledgeSearchTerm}}
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
      </button>
    </form>
  </div>

  {{#each company in pledgeSearchResults}}
    <!-- <img {{bind-attr src=company.imageUrl}}> -->
    <h2>{{company.name}}</h2>
    <button {{action 'selectPledge' company}}>Select</button>
  {{/each}}

  <form {{action 'createToken' model on="submit"}} class="index-modal">


    <ul>
        <li> <div class="modal-form-name">Pledge</div> {{input type="text" placeholder="Name" value=model.name}}</li>
        <li> <div class="modal-form-name">Token</div> {{input type="number" placeholder="Amount" value=model.pledge}} </li>
        <!-- <li> <div class="modal-form-name">Goal</div> {{input type="date" placeholder="Date" value=model.pledge}} </li>
        <li> <div class="modal-form-name">Donate</div> {{input type="number" placeholder="Value" value=model.pledge}}</li> -->

      </ul>

      <div class="modal-bottom-title">

          <button class="createbutton" type="submit">Create</button>

      </div>

  </form>


  {{/vt-modal}}

  <div class="menu panel">




  </div>







  <!--

  <div class="image card">

    <div class="card-image">
      <div class="ribbon">
      <div {{action 'useToken'}}>  <img class="logo"{{bind-attr src=tokenController.model.image}} alt="Logo"></div>
      </div>
    </div>

    <div class="card-header">
      <button class="button" class="addlogo"{{action 'useToken'}}>{{link-to 'New Pledge' 'new'}}</button>
    </div>

    <div class="card-copy">







     <div class="stats">
        <ul>
          <li> {{tokenController.model.pledge.txjOVrmEwG}}</li>
        </ul>
      </div>


      <p> 10 Tokens by April 15, 2015 </p>
      <div class="progress-bar-indication">
          <span class="meter" style="width: 60%">
              <p></p>
          </span>
      </div>

    <!-- <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button> -->
    <!-- </div>

  </div> -->



</section>


<!-- <h5> Pledge Count: {{model.length}}</h5> -->
{{outlet}}
