
<section>

  <div class="searchbarframe" >
    <form class="search-bar" role="search" {{action 'searchPledge' on="submit"}}>

      <div class="edit input">
      {{input type="search" placeholder="Enter Search" value=pledgeSearchTerm}}
    </div>
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
      </button>
    </form>
  </div>

  <div>

    <div class="edit input" >

      <form {{action 'createToken' model on="submit"}}>

            Pledge {{input type="text" placeholder="Name" value=model.name}}
            
            Token {{input type="number" placeholder="Amount" value=model.pledge}}


      <button type="submit">Create</button>
      </form>
    </div>
</div>
  </section>
<!--
  <div class="image card">

    <div class="addlogo">

      <form {{action 'createToken' model on="submit"}}>
        <ul>
            <li> Pledge {{input type="text" placeholder="Name" value=model.name}}</li>
            <li> Token {{input type="number" placeholder="Amount" value=model.pledge}} </li>
            <li> Goal {{input type="date" placeholder="Date" value=model.pledge}} </li>
            <li> Donate {{input type="number" placeholder="Value" value=model.pledge}}</li>

          </ul>
      <button type="submit">Create</button>
      </form>
    </div>


    <div class="card-copy">








    <!-- <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button> -->
    <!-- </div> -->

  <!-- </div> -->

















{{link-to 'Index' 'index'}}

{{outlet}}
