<!-- <div class="cards">


  <div class="card">
    <div class="card-image">
      <img src="https://pbs.twimg.com/profile_images/479715387844481025/JVeNv-tq.png" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div> -->




  <form {{action 'createToken' model on="submit"}}>
  <div class="card">
  <div class="card-image">
  {{input type="image" placeholder="Name" value=model.image}}
  <div class="card-header">
  {{input type="text" placeholder="Name" value=model.name}}

  <div class="card-copy">
  {{input type="number" placeholder="Pledge Amount" value=model.pledge}}

  <button type="submit">Create</button>
</div>
</div>
</div>
</div>


</form>



{{link-to 'Index' 'index'}}

{{outlet}}
