<section class="content">


    {{#if isEditing}}

    <div class="image">
    <button class="button"{{action 'useToken'}}>  <img class="logo"{{bind-attr src=model.image}} alt="Logo"></button>
    <div class="text">
      {{input value=model.name}} - {{input type="number" value=model.pledge}}
      <button {{action 'save'}}>Save</button>
    </div>
    </div>

    {{else}}

    <div class="image">
    <button class="button"{{action 'useToken'}}>  <img class="logo"{{bind-attr src=model.image}} alt="Logo"></button>
    <div class="text">
      {{model.name}} - {{model.pledge}}   {{!i am in the specific token therefore i do not need tokenController.model.name}}

      <button {{action  'edit'}}>Edit</button>
      <button {{action 'delete'}}>Delete</button>
    </div>
    </div>

    {{/if}}

  </section>
  {{link-to 'Index' 'index'}}







{{outlet}}
