





    {{#if tokenController.isEditing}}
    <button class="clickbutton"{{action 'useToken'}}>  <img class="logo"{{bind-attr src=model.image}} alt="Logo"></button>

      {{input value=model.name}} - {{input type="number" value=model.pledge}}
      <button {{action 'save'}}>Save</button>
    {{else}}
    <button class="clickbutton"{{action 'useToken'}}>  <img class="logo"{{bind-attr src=model.image}} alt="Logo"></button>
    {{model.name}} - {{model.pledge}}   {{!i am in the specific token therefore i do not need tokenController.model.name}}

      <button {{action 'edit'}}>Edit</button>
      <button {{action 'delete'}}>Delete</button>
      <button {{action 'useToken'}}>Click</button>
    {{/if}}














  {{link-to 'Index' 'index'}}







{{outlet}}
